table, th, td {
    border: 1px solid rgb(255, 255, 255);
    width: 75%;
    border-collapse: collapse;
    margin:280px 0 0 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  th, td {
    width: 25%;
    text-align: left;
    border-spacing: 0;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.3em;
  }
  a:hover {color:white;
}
a { color: inherit; }
th {color:yellow;
  font-weight: 600;
  font-size: larger;
}
h1 {color:rgb(255, 217, 0);
    font-size: 60px;
    text-align: center;}
footer {color:lightgray;
      text-align:center;
    }
